<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Library Management system</title>

<style>

body{
 background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('images/library2.png');
  background-size:100% 100%;
}
</style>
</head>
<body>
    
    <h1 style="text-align:center;color:white" md-5> E-Library Management System</h1>
     
     <form class="col-md-4 offset-md-4" th:action="@{/signup}" th:object="${signup}" method="post">
			<div class="mb-3" >
				<label for="uname" class="form-label" style="color:white">Username
					</label> <input type="text" class="form-control" name="uname">
			</div>

			<div class="mb-3">
				<label for="pwd" class="form-label" style="color:white">Password
					</label> <input type="text" class="form-control" name="pwd">
			</div>
			<div class="mb-3">
				<label for="pwd" class="form-label" style="color:white">Repeat Password
					</label> <input type="text" class="form-control" name="rpwd">
			</div>
			<button type="submit" class="btn btn-primary"><a>SignUp</a></button>
			
			<div style="color:white">Already Have an account ?<a style="color:blue" th:href="@{/login}" > Login</a></div>
			</form>

</body>
</html>